# Created by .ignore support plugin (hsz.mobi)

/crm-dao/crm-dao.iml
.idea/inspectionProfiles/
.idea/workspace.xml
crmcontroller/src/main/resources/


/crm-dao/src/main/ceshi.text
/crm-dao/src/main/java/ceshi1.text
